###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Test Artifacts
###############################################################################
TestResult.xml

###############################################################################
# Visual Studio, Visual Studio Code and Rider
###############################################################################
.vs/
.vscode/
.idea/

###############################################################################
# User Specific Settings
###############################################################################
*.user
